@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
$font-primary: 'Cabin', sans-serif;
$color-shadow: rgba(0,3,40,.36);
$color-primary: rgba(0,3,40,.55);
$color-primary-solid: rgba(0,3,40,1);
$color-secondary: rgba(20,53,106,.75);
$color-secondary-solid: rgba(20,53,106,1);
$color-text-primary: rgb(49,108,187);
$color-text-secondary: rgb(255,255,255);
$breakpoint:992px;